//
//  {{ module_info.name }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation
import ViperMcFlurry

class {{ module_info.name }}Router: NSObject, {{ module_info.name }}RouterInput {

	weak var transitionHandler: RamblerViperModuleTransitionHandlerProtocol!

}
