//
//  {{ prefix }}{{ module_info.name }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation
import RamblerTyphoonUtils
import Typhoon

class {{ prefix }}{{ module_info.name }}Assembly: TyphoonAssembly, RamblerInitialAssembly {

    dynamic func view{{ module_info.name }}Module() -> AnyObject {
        return TyphoonDefinition.withClass({{ prefix }}{{ module_info.name }}ViewController.self) {
            (definition) in
            definition.injectProperty("output", with: self.presenter{{ module_info.name }}Module())
            definition.injectProperty("moduleInput", with: self.presenter{{ module_info.name }}Module())          
        }
    }

    dynamic func interactor{{ module_info.name }}Module() -> AnyObject {
        return TyphoonDefinition.withClass({{ prefix }}{{ module_info.name }}Interactor.self) {
            (definition) in
            definition.injectProperty("output", with: self.presenter{{ module_info.name }}Module())       
        }
    }

    dynamic func presenter{{ module_info.name }}Module() -> AnyObject {
        return TyphoonDefinition.withClass({{ prefix }}{{ module_info.name }}Presenter.self) {
            (definition) in
            definition.injectProperty("view", with: self.view{{ module_info.name }}Module())
            definition.injectProperty("interactor", with: self.interactor{{ module_info.name }}Module())          
            definition.injectProperty("router", with: self.router{{ module_info.name }}Module())      
        }
    }

    dynamic func router{{ module_info.name }}Module() -> AnyObject {
        return TyphoonDefinition.withClass({{ prefix }}{{ module_info.name }}Router.self) {
            (definition) in
            definition.injectProperty("transitionHandler", with: self.view{{ module_info.name }}Module())       
        }
    }
}